body {
	margin: 0;
	min-height: 100%;
}

h1 {
	margin: 0;
	padding: 20 0;
}

html {
	height: 100%;
}

.blog-entry {
	height: 500px;
	width: 1000px;
}

.background {
	padding: 20px;
	background: lightgrey;
	min-height: 100%;
}

.banner {
	width: 100%;
	height: 100;
	display: flex;
	background: black;
}
.banner-buttons {
	margin: auto auto;
}

.btn {
	padding: 10px 50px;
	font-size: 24px;
	text-align: center;
	text-decoration: none;
	color: white;
	display: inline-block;
	width: 75px;

}

.btn:hover {
	font-weight: bold;
	text-decoration: underline;
}

.comments {
	padding-top: 20px;
}

.comments-div {
	background: white;
	margin-top: 20px;
	margin-right: 500px;
	padding: 20px;
}

.date {
	font-size: 20px;
	color: black;
	text-decoration: none;
}

.intro {
	background: white;
	margin-top: 20px;
	margin-right: 500px;
	padding: 20px;
}

.nav {
	display: inline-block;
    color: purple;
    text-decoration: underline;
	cursor: pointer;
}

#nav-back {
    padding-left: 20px;
}

#nav-forward {
    float: right;
    padding-right: 20px;
}

.pagination {
	background: white;
	margin-right: 500px;
	padding-bottom: 20px;
}

.pic {
	margin: auto 20px;
	height: 75px;
	width: 500px;
}

.title {
	background: white;
	text-align: center;
}

@media (max-width: 1024px) {
	.pic {
		height: 0px;
		width: 0px;
		margin: 0 0;
	}
	
	.comments-div {
		margin-right: 0px;
	}
	
	.intro {
		margin-right: 0px;
	}
	.pagination {
		margin-right: 0px;
	}
	.nav {
		font-size: 36px;
	}
	.pagination {
		padding-bottom: 42px;
	}
}

